/* Gallery Section */
.gallery {
    padding: 50px 20px;
    text-align: center;
}

.gallery h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Songs Section */
.songs {
    padding: 50px 20px;
    text-align: center;
}

.songs h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song-list li {
    margin-bottom: 10px;
}

.song-list a {
    color: #ff6600;
    text-decoration: none;
    font-size: 18px;
}

.song-list a:hover {
    text-decoration: underline;
}

/* Surprise Section */
.surprise {
    padding: 50px 20px;
    text-align: center;
}

.surprise h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.surprise p{
    font-size: 18px;
    margin-bottom: 30px;
}
.surprise-content img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.surprise-content p {
    font-size: 18px;
    margin-bottom: 30px;
}